SimpleITK==2.4.1
tifffile==2025.2.18
pillow==11.1.0
lazy_loader==0.4
scikit-image==0.25.2
urllib3==2.3.0
setproctitle==1.3.5
docker-pycreds==0.4.0
sentry-sdk==2.22.0
wandb==0.19.7
monai==1.2.0
ovito==3.11.3
PySide6_Addons==6.8.2.1
PySide6==6.8.2.1
shiboken6==6.8.2.1
traits==7.0.2
PySide6_Essentials==6.8.2.1
et_xmlfile==2.0.0
url-normalize==1.4.3
requests-cache==1.2.1
keyrings.alt==5.0.2
orange-widget-base==4.25.1
qtconsole==5.6.1
PyQt5==5.15.11
backports.tarfile==1.2.0
chardet==5.2.0
openpyxl==3.1.5
openTSNE==1.0.2
PyQtWebEngine-Qt5==5.15.16
jaraco.context==6.0.1
pyqtgraph==0.13.7
serverfiles==0.3.1
dictdiffer==0.9.0
qasync==0.27.1
baycomp==1.0.3
cattrs==24.1.2
xgboost==2.0.3
orange-canvas-core==0.2.5
XlsxWriter==3.2.2
PyQt5_sip==12.17.0
python-louvain==0.16
commonmark==0.9.1
AnyQt==0.2.0
catboost==1.2.7
PyQtWebEngine==5.15.7
xlrd==2.0.1
PyQt5-Qt5==5.15.16
QtPy==2.4.2
jaraco.classes==3.4.0
Orange3==3.38.1
ypy-websocket==0.8.4
requests-toolbelt==1.0.0
jupyterlab-spellchecker==0.8.4
jupyterlab-lsp==5.1.0
isort==6.0.0
jupyter_client==7.4.9
jupyter-server-mathjax==0.2.6
jedi==0.17.2
ipython-genutils==0.2.0
fairly==0.4.1
astroid==3.3.8
flake8==3.8.4
nbgitpuller==1.2.2
colorama==0.4.6
pydocstyle==6.3.0
jupyter_server_fileid==0.9.3
autopep8==1.5.5
jupyterlab-proxy-gui==0.1.16
nbdime==4.0.2
y-py==0.6.2
rope==1.13.0
python-language-server==0.36.2
entrypoints==0.4
jupyterlab-drawio==0.9.0
jupyterlab_git==0.50.2
notebook==6.5.7
pylint==3.3.4
pluggy==1.5.0
typer==0.15.1
jupyter-archive==3.4.0
jupyter-ydoc==0.2.5
rich==13.9.4
jupyterlab==3.6.8
jupyter_fairly==0.4.2
nbclassic==1.2.0
toml==0.10.2
GitPython==3.1.44
tomlkit==0.13.2
smmap==5.0.2
shellingham==1.5.4
aiosqlite==0.21.0
parso==0.7.1
gitdb==4.0.12
yapf==0.43.0
jupyter_server_ydoc==0.8.0
jupyterlab_myst==1.2.0
aiofiles==22.1.0
mccabe==0.6.1
pytoolconfig==1.3.1
python-jsonrpc-server==0.4.0
pyflakes==2.2.0
pycodestyle==2.6.0
triton==2.3.1
google-auth==2.38.0
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cufft-cu11==10.9.0.58
pybind11==2.13.6
docutils==0.21.2
tensorflow-io-gcs-filesystem==0.37.1
imageio==2.37.0
wrapt==1.17.2
jaxlib==0.5.0
google-pasta==0.2.0
numba==0.61.0
pytorch-lightning==2.5.0.post0
pydantic_core==2.27.2
playwright==1.50.0
xarray==2025.1.2
nvidia-nccl-cu11==2.20.5
dill==0.3.9
Bottleneck==1.4.2
absl-py==2.1.0
llvmlite==0.44.0
sphinxcontrib-applehelp==2.0.0
fica==0.4.1
nvidia-nvtx-cu11==11.8.86
tensorboard-data-server==0.7.2
markdown-it-py==3.0.0
filelock==3.13.1
networkx==3.3
nvidia-cuda-nvrtc-cu11==11.8.89
numexpr==2.10.2
opt_einsum==3.4.0
cachetools==5.5.1
lightning-utilities==0.12.0
pydot==3.0.4
annotated-types==0.7.0
mxnet==1.9.1
snowballstemmer==2.2.0
tk==0.1.0
numpy==1.26.4
astunparse==1.6.3
nvidia-cuda-runtime-cu11==11.8.89
keras==2.14.0
narwhals==1.25.2
python-on-whales==0.75.1
threadpoolctl==3.5.0
Markdown==3.7
sphinxcontrib-serializinghtml==2.0.0
requests-oauthlib==2.0.0
tensorrt_cu12_bindings==10.8.0.43
ninja==1.11.1.3
pyee==12.1.1
gast==0.6.0
joblib==1.4.2
grpcio==1.70.0
graphviz==0.8.4
tqdm==4.67.1
rsa==4.9
mxnet-cu112==1.9.1
tensorrt-cu12==10.8.0.43
tensorflow-estimator==2.14.0
scipy==1.15.1
torchmetrics==1.6.1
ipylab==1.0.0
plotly==6.0.0
nvidia-cublas-cu11==11.11.3.6
mdit-py-plugins==0.4.2
nvidia-cusolver-cu11==11.4.1.48
imagesize==1.4.1
torchvision==0.18.1+cu118
Werkzeug==3.1.3
Sphinx==8.1.3
pydantic==2.10.6
sphinxcontrib-jsmath==1.0.1
scikit-cuda==0.5.3
alabaster==1.0.0
nvidia-curand-cu11==10.3.0.86
pybind11_global==2.13.6
torch==2.3.1+cu118
nvidia-cusparse-cu11==11.7.5.86
otter-grader==6.1.0
torchaudio==2.3.1+cu118
nvidia-cuda-runtime-cu12==12.8.57
jax==0.5.0
google-auth-oauthlib==1.0.0
nvidia-cudnn-cu11==8.7.0.84
jupytext==1.16.6
onnx==1.17.0
h5py==3.12.1
mdurl==0.1.2
click==8.1.8
sphinxcontrib-htmlhelp==2.1.0
pandas==2.2.3
termcolor==2.5.0
tensorrt_cu12_libs==10.8.0.43
scikit-learn==1.6.1
fsspec==2024.6.1
pyparsing==3.2.1
tensorboard==2.14.1
tzdata==2025.1
gmpy2==2.2.1
pytools==2025.1.1
pycuda==2025.1
libclang==18.1.1
sphinxcontrib-qthelp==2.0.0
tensorrt==10.8.0.43
sphinxcontrib-devhelp==2.0.0
ml-dtypes==0.2.0
tensorflow==2.14.0
protobuf==4.25.6
isolation==0.0.0b0
gnuplot-kernel==0.4.1
filetype==1.2.0
bash_kernel==0.10.0
metakernel==0.30.2
octave_kernel==0.36.0
aiohttp==3.11.12
packaging==24.2
nest-asyncio==1.6.0
multidict==6.1.0
ruamel.yaml.clib==0.2.12
frozenlist==1.5.0
bleach==6.2.0
tomli==2.2.1
alembic==1.14.1
async-timeout==5.0.1
exceptiongroup==1.2.2
isoduration==20.11.0
pamela==1.2.0
wcwidth==0.2.13
aiosignal==1.3.2
pexpect==4.9.0
h11==0.14.0
Pygments==2.19.1
pure_eval==0.2.3
ipywidgets==8.1.5
nbformat==5.10.4
pyzmq==26.2.1
attrs==25.1.0
jupyter_server_proxy==4.1.0
yarl==1.18.3
jupyter_server_terminals==0.5.3
async-generator==1.10
stack-data==0.6.3
PyYAML==6.0.2
nbclient==0.10.2
referencing==0.36.2
Mako==1.3.9
ruamel.yaml==0.18.10
MarkupSafe==3.0.2
comm==0.2.2
ipykernel==6.29.5
async-lru==2.0.4
nbconvert==7.16.6
ptyprocess==0.7.0
fqdn==1.5.1
SQLAlchemy==2.0.38
jupyter-lsp==2.2.5
simpervisor==1.0.0
executing==2.2.0
jupyter_server==2.15.0
typing_extensions==4.12.2
python-dateutil==2.9.0.post0
jupyter-events==0.12.0
widgetsnbextension==4.0.13
aiohappyeyeballs==2.4.6
Send2Trash==1.8.3
jupyter==1.1.1
httpcore==1.0.7
mistune==3.1.1
arrow==1.3.0
fastjsonschema==2.21.1
beautifulsoup4==4.13.3
jsonpointer==3.0.0
jupyterlab_server==2.27.3
prometheus_client==0.21.1
argon2-cffi==23.1.0
terminado==0.18.1
babel==2.17.0
python-json-logger==3.2.1
uri-template==1.3.0
argon2-cffi-bindings==21.2.0
jupyter-telemetry==0.1.0
overrides==7.7.0
greenlet==3.1.1
jupyter_core==5.7.2
types-python-dateutil==2.9.0.20241206
debugpy==1.8.12
jupyterlab_pygments==0.3.0
websocket-client==1.8.0
jsonschema==4.23.0
propcache==0.2.1
pandocfilters==1.5.1
rpds-py==0.22.3
tinycss2==1.4.0
prompt_toolkit==3.0.50
webcolors==24.11.1
ipython==8.32.0
rfc3339-validator==0.1.4
psutil==6.1.1
matplotlib-inline==0.1.7
webencodings==0.5.1
certipy==0.2.1
sniffio==1.3.1
anyio==4.8.0
tornado==6.4.2
soupsieve==2.6
jsonschema-specifications==2024.10.1
jupyterlab_widgets==3.0.13
jupyterhub==4.0.2
httpx==0.28.1
traitlets==5.14.3
certifi==2025.1.31
jupyter-console==6.6.3
requests==2.32.3
defusedxml==0.7.1
notebook_shim==0.2.4
charset-normalizer==3.4.1
platformdirs==4.3.6
asttokens==3.0.0
json5==0.10.0
rfc3986-validator==0.1.1
Jinja2==3.1.5
pip==25.0
wheel==0.45.1
SecretStorage==3.3.1
lazr.restfulclient==0.14.4
dbus-python==1.2.18
keyring==23.5.0
PyGObject==3.42.1
six==1.16.0
oauthlib==3.2.0
zipp==1.0.0
blinker==1.4
lazr.uri==1.0.6
launchpadlib==1.10.16
python-apt==2.4.0+ubuntu4
PyJWT==2.3.0
more-itertools==8.10.0
distro==1.7.0
importlib-metadata==4.6.4
cryptography==3.4.8
wadllib==1.3.6
jeepney==0.7.1
httplib2==0.20.2
compizconfig-python==0.9.14.1
ccsm==0.9.14.1
pycairo==1.20.1
lz4==3.1.3+dfsg
Cython==0.29.28
pyOpenSSL==21.0.0
u-msgpack-python==2.3.0
ply==3.11
ujson==5.1.0
idna==3.3
bcrypt==3.2.0
incremental==21.3.0
Pillow==9.0.1
sympy==1.9
fs==2.4.12
base58==1.0.3
fonttools==4.29.1
urllib3==1.26.5
pyasn1-modules==0.2.1
PyHamcrest==2.0.2
beniget==0.4.1
python-snappy==0.5.3
constantly==15.1.0
hyperlink==21.0.0
pytz==2022.1
lxml==4.8.0
appdirs==1.4.4
ufoLib2==0.13.1
cffi==1.15.0
mnemonic==0.19
py-ubjson==0.16.1
service-identity==18.1.0
setuptools==59.6.0
pycparser==2.21
wsaccel==0.6.3
unicodedata2==14.0.0
cbor==1.0.0
ecdsa==0.18.0b1
PyQRCode==1.2.1
decorator==4.4.2
msgpack==1.0.3
PyNaCl==1.5.0
matplotlib==3.5.1
zope.interface==5.4.0
kiwisolver==1.3.2
passlib==1.7.4
sortedcontainers==2.1.0
txaio==21.2.1
mpmath==0.0.0
Brotli==1.0.9
autobahn==21.11.1
Twisted==22.1.0
cycler==0.11.0
PyTrie==0.4.0
pythran==0.10.0
Automat==20.2.0
pyasn1==0.4.8
mpi4py==3.1.3
flatbuffers==23.5.26
